@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=IBM+Plex+Mono:wght@300&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@include xyz-all;

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.plexMono {
	font-family: 'IBM Plex Mono', monospace;
}

.block-component {
	width: 5px;
  display: inline-block;
}