@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #1d232a;
}

.plexMono {
	font-family: 'IBM Plex Mono', monospace;
}